<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="{% url 'users:searchResult' %}" method="get">
            {% csrf_token %}
            <input type="search" placeholder="جستجوی نام" name="q">
            <input type="search" placeholder="جستجوی خانوادگی" name="p">
            <input type="search" placeholder="بیشتر از این تعداد آدرس" name="o">
            <input type="search" placeholder="کمتر از این تعداد آدرس" name="i">
            <input type="search" placeholder="مساوی این تعداد آدرس" name="u">
            <button type="submit">جستجو</button>
        </form>        
    </body>
</html>